@media screen and (max-width : 768px){
    .brand__image {
        width: 200px;
    }

    .form__container {
        padding-left: 30px;
    }

    .social-media__container img {
        height: 30px;
    }

    .social-media__container p {
        font-size: 14px;
    }
}