:root {
    --black: #000;
    --red: #fd3609;
    --soft-red: #dc3545;
}

html {
    scroll-behavior: smooth;
}

/* body{
    overflow-x: hidden;
 } */

.header img {
    width: 120px;
}

.footer {
    background: linear-gradient(90deg,#f44336,#80160e 25%,#41120c);
}

.footer a {
    color: white;
    text-decoration: none;
}

.navbar a {
}

.carousel-inner img {
    max-height: 80vh;
    object-fit: contain;
}

/* .carousel, .carousel-inner > .item > img {
  height: 720px;
} */

.brand__image {
    width: 300px;
    padding: 20px;
}



.container h2 {
    background-image: url('images/fondo.jpg');
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 3px;
    background-size: contain;
    border-radius: 8px;
    height: 50px;
    text-align: center !important;
    padding-top: 5px;
}


.card {
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    min-height: 456px;
}


.card-title {
}

.cauchos__container {
}

.cauchos__container img {
    max-height: 200px;
    object-fit: contain;
}

.dunlop__container {
}


.contact__container .row {
    width: 100%;
}

.contact-us {
    margin-bottom: -30px;
}

.contact__container .container-fluid {
    padding-top: 40px;
}

.contact__container .contact__section {
    border:2px solid #ccc;
    border-bottom:2px solid #bbb;
    border-top:2px solid #ddd;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    align-self: center;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.form__container {
}

.social-media__container {
    padding-left: calc(100% - 75%);
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; */
}

.social-media__container img {
    height: 35px;
}

.social-media__container p {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    margin-left: 10px;
    display: inline;
}

.social-media__container a {
    text-decoration: none;
    color: black;
}

.social-media__container a:hover {
    color: var(--soft-red);
}

.phone__container, .whatsapp__container, .instagram__container, .mail__container {
    padding: 10px 5px 5px 10px;
}